<div class="paper">
  <div class="header">
    <img src={{institution?.logo1}} alt="coat of arms" class="mt-2" />
    <div class="header-title text-center mt-4">
      <h5 class="text-success">
        {{institution?.name}}<br />
        {{institution?.address}}
      </h5>
    </div>
    <img src={{institution?.logo2}} alt="high court logo" class="mt-2" />
  </div>
  <div class="panel text-white text-center">
    <p>general form of affidavit</p>
  </div>

  <div class="declaration">
    <form>

      <p class="">I {{affidavit.relativeName}} of {{affidavit.address}}
        Make oaths and say:</p>

      <ol>
        <li>

          <p class="twin c3">That {{affidavit.line1}} </p>
        </li>
        <li>

          <p class="twin c3">That {{affidavit.line2}}</p>
        </li>
        <li>

          <p class="twin c3">That {{affidavit.line3}}</p>

        </li>
        <li>

          <p class="twin c3">That {{affidavit.line4}}</p>
        </li>
        <li>

          <p class="twin c3">That {{affidavit.line5}}</p>

        </li>
        <li>
          That I am making this solemn declaration conscientiously believing same to be true and correct in accordance
          with the Oaths Act of 1990
        </li>

      </ol>

      <div class="twins mt-2">
        <div class="form-inline mr-2 c3">
          <p>Date: {{affidavit.date | date: 'dd/MM/yyyy'}}
          </p>
        </div>
        <div class="text-center c9 declarant ">
          <input class="signature signature2" />
          <p>DEPONENT</p>
        </div>
      </div>

      <p>Sworn to at the {{affidavit.courtName}}

        Registry,





        This {{affidavit.presentDay}}<sup class="text-lowercase">th</sup> day
        of {{affidavit.presentMonthYear}}


      </p>

      <p class="mt-2 mb-2">
        The foregoing has been read over and interpreted by the declarant from {{affidavit.fromLanguage}}

        Language
        to {{affidavit.toLanguage}}
        Language by {{affidavit.interpreter}}

      </p>

      <p class="mt-2 mb-2">
        The above has been interpreted to me and I understand same before affixing my
        thumb impression there to.
      </p>

      <div class="d-flex justify-content-end declarant">
        <p class="mt-4">Signature of Interpreter</p>
        <input class="signature signature2" />
      </div>

      <div class="footer mt-4">

        <div class="mt-1 ml-3 thumb">
          <i><em>Affix Thumb Print Here</em></i>
          <textarea></textarea>
        </div>
      </div>
      <div class="form-inline">
        <label for="date" class="mr-sm-2"><strong>Date: {{affidavit.date | date: 'dd/MM/yyyy'}}</strong></label>

      </div>

      <div class="d-flex justify-content-end mt-3 commisioner">
        <div class="oath text-center mr-2">
          <p>Before Me</p>
        </div>
        <div>
          <input class="signature signature2 " />
          <p class="text-capitalize mt-1"><strong>Commisioner of Oaths</strong></p>
        </div>
      </div>

    </form>
  </div>
</div>
