<div class="paper">
  <div class="header">
    <img src={{institution?.logo1}} alt="coat of arms" class="mt-2" />
    <div class="header-title text-center mt-4">
      <h5 class="text-success">
        {{institution?.name}}<br />
        {{institution?.address}}
      </h5>
    </div>
    <img src={{institution?.logo2}} alt="high court logo" class="mt-2" />
  </div>
  <div class="panel text-white text-center">
    <p>DECLARATION OF MARRIAGE</p>
  </div>

  <div class="declaration">
    <form [formGroup]="marriageForm">
      <div class="twins ">
        <p class="twin c3">between mr</p>
        <input type="text" id="hname" placeholder="Husband's Name" name="hname" formControlName="husband" class="lg c9 ml-2" />
      </div>
      <div class="twins mt-2">
        <p class="twin c3">and miss</p>
        <input type="text" id="wname" placeholder="Wife's Name" name="wname" formControlName="wife" class="lg c9 ml-2" />
      </div>
      <div class="twins mt-2">
        <p class="twin c3">i</p>
        <input type="text" id="witness" name="witness" placeholder="witness name" formControlName="witnessName" class="lg c9 ml-2" />
      </div>
      <div class="form-inline mt-2">
        <p>am a <input type="text" placeholder="nationality" id="nationality" name="nationality" formControlName="witnessCountry"/> <input type="text"
            placeholder="citizen" citizen name="citizen" class="ml-1" /> </p>
      </div>
      <div class="twins mt-2">
        <p class="twin c3">residing at number</p>
        <input type="text" id="address" name="address" placeholder="address" formControlName="address" class="lg c9 ml-2" />
      </div>
      <div class="form-inline mt-2">
        <p>that i am <input type="text" placeholder="religion" id="religion" formControlName="witnessReligion" name="religion" /> and i make oath and
          declare as follows: </p>
      </div>
      <ol>
        <li>
          <div class="twins mt-2">
            <p class="twin c3">that i am the</p>
            <input type="text" placeholder="witness" id="witness" name="witness" formControlName="relationship" class="lg c9 ml-1" />
          </div>
          <div class="twins mt-2">
            <p class="twin c3">of</p>
            <input type="text" placeholder="name of witnessed" id="now" name="now" formControlName="witnessName" class="lg c9 ml-1" />
          </div>
          <!-- <div class="form-inline mt-2">
            <p>that i am the <input type="text" placeholder="witness" id="witness" name="witness" /> of
              <input type="text" placeholder="name of witnessed" id="now" name="now" class=" mt-1 ml-2 c9" /></p>
          </div> -->
        </li>

        <li>
          <div class="form-inline mt-2">
            <p>that <input type="text" placeholder="husband's name" id="hn" name="hn" formControlName="husband" /> was married to
              <input type="text" placeholder="wife's name" id="wn" name="wn" formControlName="wife" class="ml-1 mt-2" /> on the <input
                type="text" placeholder="25th" id="day" name="day" formControlName="day" class="mt-2" /> day of <input type="text"
                placeholder="december 2010" id="my" name="my" formControlName="my" class="mt-2" />
            </p>
          </div>
        </li>
        <li>
          <p>that the marriage was performed according to native law and custom</p>
        </li>
        <li>
          <p>
            that i am making this solem declaration conscientiously believing same to be true and correct in accordance
            with the oaths acts of 1990.</p>
        </li>
      </ol>
      <div class="d-flex justify-content-end">
        <div class="mt-4">
          <input class="signature signature1" />
          <p>declarant</p>
        </div>
      </div>
      <div class="form-inline mt-2">
        <p>sworn to at the <input type="text" placeholder="high court maitame" name="venue" id="venue" /> registry this
          <input type="text" placeholder="8th" class="mt-2" /> day of <input type="text" placeholder="august 2019"
            class="mt-2" />
        </p>
      </div>
      <p class="mt-2 mb-2">the foregoing has been read over and interpreted by the declarant from</p>
      <div class="form-inline">
        <p><input type="text" placeholder="nil" name="venue" id="venue" formControlName="fromLanguage"/> language to
          <input type="text" placeholder="nil" class="mt-2" formControlName="toLanguage" /> language by <input type="text" placeholder="nil"
            class=mt-2 formControlName="interpreter"/>

        </p>
      </div>
      <div class="d-flex justify-content-end">

        <p class="mt-3">signature of interpreter</p>
        <input class="signature signature2" />
      </div>
      <p>the above has been interpreted to me and i understand same before affixing my thumb impression there to</p>

      <div class="footer">
        <div>
          <div class="form-inline mt-3">
            <label for="fees" class="mr-sm-2"><strong>Fees Paid:</strong></label>
            <input type="fees" class="mb-2 mr-sm-2" id="fees" formControlName="amountPaid">
          </div>
          <div class="form-inline">
            <label for="teller" class="mr-sm-2"><strong>Receipt/Bank Teller No:</strong></label>
            <input type="teller" class="mb-2 mr-sm-2" id="teller" formControlName="tellerNumber">
          </div>
        </div>
        <div class="mt-1">
          <i><em>Affix Thumb Print Here</em></i>
          <textarea></textarea>
        </div>

      </div>
      <div class="form-inline">
        <label for="date" class="mr-sm-2"><strong>Date:</strong></label>
        <input type="date" class="mb-2 mr-sm-2" id="date" placeholder="08/08/2019" formControlName="date">
      </div>
      <div class="d-flex justify-content-end">
        <div class="oath text-center mr-2">
          <p>Before Me</p>
        </div>
        <div>
          <input class="signature signature2" />
          <p class="text-capitalize">Commisioner of Oaths</p>
        </div>
      </div>
      <button class="btn-block mt-4 main" (click)="save()">Submit</button>
    </form>
  </div>
</div>

<!--modal with details-->

<ng-template #content let-modal>
  <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
  <div *ngIf="response">
    <div class="modal-body text-center text-uppercase">
      <div clas="head-text">
        <h3>High court of justice</h3>
        <h3>Federal capital territory, abuja.</h3>

        <h3 class="mt-4 mb-3">payment reference slip</h3>
      </div>
      <div class="text-block">
        <p>affidavit reference number: {{this.response}}</p>
        <p>affidavit type: age declaration</p>
        <p>date generated: 12/11/2019</p>
        <p>amount: 500</p>
        <p>payment method bank branch</p>
        <p>accout name: high court of justice, fct abuja</p>
        <p>bank: access bank plc</p>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-warning" (click)="modal.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>
