<app-loader *ngIf="loading"></app-loader>

<app-alert></app-alert>
<app-toast></app-toast>

<div class="paper">
  <div class="header">
    <img src={{institution?.logo1}} alt="coat of arms" class="mt-2" />
    <div class="header-title text-center mt-4">
      <h5 class="text-success">
        {{institution?.name}}<br />
        {{institution?.address}}
      </h5>
    </div>
    <img src={{institution?.logo2}} alt="high court logo" class="mt-2" />
  </div>
  <div class="panel text-white text-center">
    <p>DECLARATION OF MARRIAGE</p>
  </div>

  <div class="declaration">
    <form [formGroup]="marriageForm" (ngSubmit)="save(content3)">
      <div class="twins ">
        <p class="twin c3">between mr</p>
        <input type="text" formControlName="husband" placeholder="Husband's Name" class="lg c9 ml-2" />
      </div>
      <div *ngIf="(f?.husband.touched && f?.husband.invalid) || (submitted && f.husband.errors)"
        class="alert alert-danger">
        <p *ngIf="f?.husband.errors.required">Husband's Name is required</p>
      </div>
      <div class="twins mt-2">
        <p class="twin c3">and miss</p>
        <input type="text" placeholder="Wife's Name" formControlName="wife" class="lg c9 ml-2" />
      </div>
      <div *ngIf="(f?.wife.touched && f?.wife.invalid) || (submitted && f.wife.errors)" class="alert alert-danger">
        <p *ngIf="f?.wife.errors.required">Wife's Name is required</p>
      </div>
      <div class="twins mt-2">
        <p class="twin c3">i</p>
        <input type="text" placeholder="witness name" formControlName="witnessName" class="lg c9 ml-2" />
      </div>
      <div *ngIf="(f?.witnessName.touched && f?.witnessName.invalid) || (submitted && f.witnessName.errors)"
        class="alert alert-danger">
        <p *ngIf="f?.witnessName.errors.required">Witness Name is required</p>
      </div>
      <div class="form-inline mt-2">
        <p>am a <input type="text" placeholder="nationality" formControlName="witnessCountry" />
          <span
            *ngIf="(f?.witnessCountry.touched && f?.witnessCountry.invalid) || (submitted && f.witnessCountry.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.witnessCountry.errors.required">Witness Country is required</small>
          </span>
          <input type="text" placeholder="citizen" formControlName="countryRelationship" class="ml-1" />
          <span
            *ngIf="(f?.countryRelationship.touched && f?.countryRelationship.invalid) || (submitted && f.countryRelationship.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.countryRelationship.errors.required">Country Relationship is required</small>
          </span>
        </p>
      </div>
      <div class="twins mt-2">
        <p class="twin c3">residing at number</p>
        <input type="text" placeholder="address" formControlName="witnessStreet" class="lg c9 ml-2" />
      </div>
      <div *ngIf="(f?.witnessStreet.touched && f?.witnessStreet.invalid) || (submitted && f.witnessStreet.errors)"
        class="alert alert-danger">
        <p *ngIf="f?.witnessStreet.errors.required">Witness Address is required</p>
      </div>
      <div class="form-inline mt-2">
        <p>that i am <input type="text" placeholder="religion" formControlName="witnessReligion" />
          <span
            *ngIf="(f?.witnessReligion.touched && f?.witnessReligion.invalid) || (submitted && f.witnessReligion.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.witnessReligion.errors.required">Witness Religion is required</small>
          </span>
          and i make oath and
          declare as follows: </p>
      </div>
      <ol>
        <li>
          <div class="twins mt-2">
            <p class="twin c3">that i am the</p>
            <input type="text" placeholder="witness" id="witness" name="witness" formControlName="relationship"
              class="lg c9 ml-1" />
          </div>
          <div *ngIf="(f?.relationship.touched && f?.relationship.invalid) || (submitted && f.relationship.errors)"
            class="alert alert-danger">
            <p *ngIf="f?.relationship.errors.required">Witness Relationship is required</p>
          </div>
          <div class="twins mt-2">
            <p class="twin c3">of</p>
            <input type="text" placeholder="name of witnessed" formControlName="declarant" class="lg c9 ml-1" />
          </div>
          <div *ngIf="(f?.declarant.touched && f?.declarant.invalid) || (submitted && f.declarant.errors)"
            class="alert alert-danger">
            <p *ngIf="f?.declarant.errors.required">Declarant is required</p>
          </div>

        </li>

        <li>
          <div class="form-inline mt-2">
            <p>that <input type="text" placeholder="husband's name" formControlName="husband" />
              <span *ngIf="(f?.husband.touched && f?.husband.invalid) || (submitted && f.husband.errors)"
                class="alert alert-danger">
                <small *ngIf="f?.husband.errors.required">Husband's Name is required</small>
              </span>
              was married to
              <input type="text" placeholder="wife's name" formControlName="wife" class="ml-1 mt-2" />
              <span *ngIf="(f?.wife.touched && f?.wife.invalid) || (submitted && f.wife.errors)"
                class="alert alert-danger">
                <small *ngIf="f?.wife.errors.required">Wife's Name is required</small>
              </span>
              on the <input type="text" placeholder="25th" formControlName="marriageDay" class="mt-2" />
              <span *ngIf="(f?.marriageDay.touched && f?.marriageDay.invalid) || (submitted && f.marriageDay.errors)"
                class="alert alert-danger">
                <small *ngIf="f?.marriageDay.errors.required">Wedding Date is required</small>
              </span>
              day of <input type="text" placeholder="december 2010" formControlName="marriageMonthYear" class="mt-2" />
              <span
                *ngIf="(f?.marriageMonthYear.touched && f?.marriageMonthYear.invalid) || (submitted && f.marriageMonthYear.errors)"
                class="alert alert-danger">
                <small *ngIf="f?.marriageMonthYear.errors.required">Wedding Month & Year is required</small>
              </span>
            </p>
          </div>
        </li>
        <li>
          <p>that the marriage was performed according to native law and custom</p>
        </li>
        <li>
          <p>
            that i am making this solem declaration conscientiously believing same to be true and correct in accordance
            with the oaths acts of 1990.</p>
        </li>
      </ol>
      <div class="d-flex justify-content-end">
        <div class="mt-4">
          <input class="signature signature1" />
          <p>declarant</p>
        </div>
      </div>
      <div class="form-inline mt-2">
        <p>sworn to at the <input type="text" placeholder="high court maitama" formControlName="courtName" />
          <span *ngIf="(f?.courtName.touched && f?.courtName.invalid) || (submitted && f.courtName.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.courtName.errors.required">Court Name is required</small>
          </span>
          registry
          this
          <input type="number" placeholder="8th" class="mt-2" formControlName="presentDay" />
          <span *ngIf="(f?.presentDay.touched && f?.presentDay.invalid) || (submitted && f.presentDay.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.presentDay.errors.required">Day is required</small>
          </span>
          day of <input type="text" placeholder="august 2019" class="mt-2" formControlName="presentMonthYear" />
          <span
            *ngIf="(f?.presentMonthYear.touched && f?.presentMonthYear.invalid) || (submitted && f.presentMonthYear.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.presentMonthYear.errors.required">Month && Year is required</small>
          </span>
        </p>
      </div>
      <p class="mt-2 mb-2">the foregoing has been read over and interpreted by the declarant from</p>
      <div class="form-inline">
        <p><input type="text" placeholder="nil" name="venue" id="venue" formControlName="fromLanguage" />
          <span *ngIf="(f?.fromLanguage.touched && f?.fromLanguage.invalid) || (submitted && f.fromLanguage.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.fromLanguage.errors.required">Language is required</small>
          </span>
          language to
          <input type="text" placeholder="nil" class="mt-2" formControlName="toLanguage" />
          <span *ngIf="(f?.toLanguage.touched && f?.toLanguage.invalid) || (submitted && f.toLanguage.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.toLanguage.errors.required">Language is required</small>
          </span>
          language by <input type="text" placeholder="nil" class=mt-2 formControlName="interpreter" />
          <span *ngIf="(f?.interpreter.touched && f?.interpreter.invalid) || (submitted && f.interpreter.errors)"
            class="alert alert-danger">
            <small *ngIf="f?.interpreter.errors.required">Interpreter's Name is required</small>
          </span>

        </p>
      </div>
      <div class="d-flex justify-content-end">

        <p class="mt-3">signature of interpreter</p>
        <input class="signature signature2" />
      </div>
      <p>the above has been interpreted to me and i understand same before affixing my thumb impression there to</p>

      <div class="footer">
        <div>
          <div class="form-inline mt-3 d-none">
            <label for="fees" class="mr-sm-2"><strong>Fees Paid:</strong></label>
            <input type="text" class="mb-2 mr-sm-2">
          </div>
          <div class="form-inline d-none">
            <label for="teller" class="mr-sm-2"><strong>Receipt/Bank Teller No:</strong></label>
            <input type="text" class="mb-2 mr-sm-2">
          </div>
        </div>
        <div class="mt-1">
          <i><em>Affix Thumb Print Here</em></i>
          <textarea></textarea>
        </div>

      </div>
      <div class="form-inline">
        <label for="date" class="mr-sm-2"><strong>Date:</strong></label>
        <input type="date" class="mb-2 mr-sm-2" id="date" placeholder="08/08/2019" formControlName="date">
      </div>
      <span *ngIf="(f?.date.touched && f?.date.invalid) || (submitted && f.date.errors)" class="alert alert-danger">
        <small *ngIf="f?.date.errors.required">Date is required</small>
      </span>
      <div class="d-flex justify-content-end">
        <div class="oath text-center mr-2">
          <p>Before Me</p>
        </div>
        <div>
          <input class="signature signature2" />
          <p class="text-capitalize">Commisioner of Oaths</p>
        </div>
      </div>
      <button class="btn-block mt-4 main" type="submit">Submit</button>
    </form>
  </div>
</div>

<!--modal with details-->

<ng-template #content3 let-modal>
  <div *ngIf="response" id="printableArea">
    <div class="modal-body text-center text-uppercase">
      <div class="bg-image"></div>
      <div clas="head-text">
        <h3>High court of justice</h3>
        <h3>Federal capital territory, abuja.</h3>

        <h3 class="mt-4 mb-3">payment reference slip</h3>
      </div>
      <div class="text-block">
        <p>affidavit reference number: {{response.affidavitReferenceNumber}}</p>
        <p>affidavit type: {{response.affidavitType}}</p>
        <p>date generated: 16/11/2019</p>
        <p>amount: {{response.fee}}</p>
        <p>payment method: bank branch</p>
        <p>account number: 0118923457</p>
        <p>accout name: high court of justice, fct abuja</p>
        <p>bank: access bank plc</p>
      </div>
    </div>
    <div class="modal-footer">
      <button (click)="onPrint('printableArea')" type="button" class="btn btn-secondary">Print</button>
      <button type="button" class="btn btn-outline-warning" (click)="modal.close('Close click')">Close</button>
    </div>
  </div>
</ng-template>
