<div class="container mt-4">
    <!-- <div class="form-group">
        <label for="name"><b>Document Type:</b></label>
        <div style="display:flex">
            <select class="select-css" [(ngModel)]="documentType">
                <option>Marriage Declaration</option>
                <option>Age Declaration</option>
                <option>Change of Name Declaration</option>
                <option>General Declaration</option>
            </select>
        </div>
    </div> -->
    <div class="form-group">
        <label for="name">Affidavit Reference Number:</label>
        <div style="display:flex">
            <input type="search" class="form-control" id="name" aria-describedby="emailHelp" 
            placeholder="Enter Affidavit Reference Number" 
            [(ngModel)]="refNo" 
            [ngModelOptions]="{standalone: true}">
            <button style="background-color:#673AB7; color:white;" class="btn"
            (click)="searchDocument()">Search</button>
        </div>
    </div>
    <div class="document" *ngIf="documentImage">
        <img src="../../assets/img/undraw_blog_anyj.png" height="300px" width="400px" style="opacity:0.5">
    </div>

    <div style="height:300px" *ngIf="loading">
    <div class="loader mt-4"></div>
    </div>

    <div *ngIf="marriage" class="oathform container">
        <div>
            <img [src]="currentUser.institution.logo1" height="50px" width="50px" style="float:left; margin-left:10px">
            <img [src]="currentUser.institution.logo2" height="50px" width="50px" style="float:right; margin-right:10px">
        </div>
        <h3 class="text-center">Ref No.: {{oathform.documentRef}}</h3>
        <h3 class="text-center">Institution Name: {{oathform.courtName | uppercase}}</h3>
        <h3>Type: <span class="normal">{{oathform.documentName | uppercase}}</span></h3>
        <h3>Name: <span class="normal">{{oathform.name | uppercase}}</span></h3>
        <h3>Date Generated: <span class="normal">{{oathform.dateGenerated.split('T')[0]}}</span></h3>
        <h3>Date Printed: <span class="normal">{{oathform.printedTime.split('T')[0]}}</span></h3>
        <h3>Printed By: <span class="normal">{{getUser(oathform.staffId)}}</span></h3>

    </div>
    <!-- <div style="margin:0 auto; width:300px">
        <button class="btn btn-lg btn-outline-dark" (click)="open(paymentmodal)" 
            style="width:100%">
            Proceed to Payment
        </button>
    </div> -->
</div>

<!-- <ng-template #paymentmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><b>Confirm Payment</b></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Document Reference: <span style="font-weight: bold">{{oathform.documentRef}}</span><br>
        <form [formGroup]="paymentForm">
            <div class="form-group mt-2">
                <label for="name">Reference</label>
                <div style="display:flex">
                    <input type="search" class="form-control" id="name" 
                    placeholder="Enter Teller Id" 
                    formControlName="reference">
                </div>
            </div>  
            <div class="form-group mt-2">
                <label for="name">Enter Amount</label>
                <div style="display:flex">
                    <input type="number" class="form-control" id="name" 
                    placeholder="Enter Amount"
                    formControlName="amount" >
                </div>
            </div>
        </form>  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="confirmPayment()">Confirm Payment</button>
    </div>
</ng-template> -->
