<div class="container mt-4">
    <div class="form-group">
        <label for="name"><b>Document Type:</b></label>
        <div style="display:flex">
            <select class="select-css" [(ngModel)]="documentType">
                <option>Marriage Declaration</option>
                <option>Age Declaration</option>
                <option>Change of Name Declaration</option>
                <option>General Declaration</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="name">Document Id:</label>
        <div style="display:flex">
            <input type="search" class="form-control" id="name" aria-describedby="emailHelp" 
            placeholder="Enter Document Id" 
            [(ngModel)]="id" 
            [ngModelOptions]="{standalone: true}">
            <button style="background-color:#673AB7; color:white;" class="btn"
            (click)="searchDocument()">Search</button>
        </div>
    </div>
    <div class="document" *ngIf="documentImage">
        <img src="../../assets/img/undraw_blog_anyj.png" height="300px" width="400px" style="opacity:0.5">
    </div>
    <div *ngIf="marriage" class="oathform">
        <h3>Id:{{oathform.id}}</h3>
        <h3>Court Name:{{oathform.courtName}}</h3>
        <h3>Declarant:{{oathform.declarant}}</h3>
        <h3>Husband:{{oathform.husband}}</h3>
        <h3>Wife:{{oathform.wife}}</h3>
    </div>
    <div *ngIf="age" class="oathform">
        <h3>Id:{{oathform.id}}</h3>
        <h3>Court Name:{{oathform.courtName}}</h3>
        <h3>Name:{{oathform.name}}</h3>
        <h3>Date of Birth:{{oathform.dateofBirth}}</h3>
    </div>
    <div *ngIf="name" class="oathform">
        <h3>Id:{{oathform.id}}</h3>
        <h3>Court Name:{{oathform.courtName}}</h3>
        <h3>Formerly Called:{{oathform.formerlyCalled}}</h3>
        <h3>Now Called:{{oathform.nowCalled}}</h3>
    </div>
    <div *ngIf="general" class="oathform">
        <h3>Id:{{oathform.id}}</h3>
        <h3>Court Name:{{oathform.courtName}}</h3>
        <h3>Deponent: {{oathform.deponent}}</h3>
        <h3>Now Called:{{oathform.nowCalled}}</h3>
    </div>
    <div style="margin:0 auto; width:300px">
        <button class="btn btn-lg btn-outline-dark" (click)="open(paymentmodal)" 
            style="width:100%">
            Proceed to Payment
        </button>
    </div>
</div>

<ng-template #paymentmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"><b>Confirm Payment</b></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Document Id: {{oathform.id}}<br>
        <form [formGroup]="paymentForm">
            <div class="form-group mt-2">
                <label for="name">Enter Teller ID</label>
                <div style="display:flex">
                    <input type="search" class="form-control" id="name" aria-describedby="emailHelp" 
                    placeholder="Enter Teller Id" 
                    formControlName="reference">
                </div>
            </div>  
            <div class="form-group mt-2">
                <label for="name">Enter Teller ID</label>
                <div style="display:flex">
                    <input type="number" class="form-control" id="name" aria-describedby="emailHelp" 
                    placeholder="Enter Amount"
                    formControlName="amount" >
                </div>
            </div>
        </form>  
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="confirmPayment()">Confirm Payment</button>
    </div>
</ng-template>
