<mat-toolbar id="mainToolbar" color="primary">
  <mat-icon (click)="onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  Court App
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-icon" matBadge="8" matBadgePosition="after" matBadgeColor="accent">notifications</mat-icon>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>

    <mat-list id="menus">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar"></div>

          <mat-card-title>John Doe</mat-card-title>
          <mat-card-subtitle>Internal</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>work</mat-icon>
          Project
        </button>
      </mat-list-item>

      <mat-list-item routerLink="roles">
        <button class="menu-item" mat-flat-button>
          Roles
        </button>
      </mat-list-item>

      <mat-list-item routerLink="createuser">
        <button class="menu-item" mat-flat-button>
          Create User
        </button>
      </mat-list-item>

      <mat-list-item routerLink="institution">
        <button class="menu-item" mat-flat-button>
          Institution
        </button>
      </mat-list-item>

      <mat-list-item routerLink="reports">
          <button class="menu-item" mat-flat-button>
            Reports
          </button>
        </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button>
          <mat-icon>settings_application</mat-icon>
          Settings
        </button>
      </mat-list-item>



    <!-- <span fxShow.lt-md="false" fxShow.gt-sm="true">
      <button mat-button>
        <mat-icon class="mr-1">link</mat-icon>
        Link</button>
      <button mat-button>
        <mat-icon class="mr-1">link</mat-icon>
        Link</button>
      <button mat-button [matMenuTriggerFor]="dropDown">
        DropDown
        <mat-icon class="ml-1">arrow_drop_down</mat-icon>
      </button>
      <mat-menu #dropDown="matMenu" overlapTrigger="false">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Dropdown Link 1</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Dropdown Link 2</span>
        </button>
      </mat-menu>
    </span> -->

    </mat-list>

    
  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">
    
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
