:host {
  display: flex;
  flex-direction: column;
  outline: none;
  width: 100%;

  .mat-list-item.active {
    background-color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    >.mat-list-item:not(.expanded) {
      background-color: white !important;
    }
  }
}

.mat-list-item {
  padding: 8px 0;
  display: flex;
  width: auto;

 
}
