<mat-toolbar id="mainToolbar" [ngStyle]="{'background': '#006644', 'color':'#fff'}">
  <mat-icon (click)=" onToolbarMenuToggle()" id="toolbarMenu">subject</mat-icon>
  Court App
  <span class="toolbar-spacer"></span>
  <mat-icon class="toolbar-icon" matBadge="1" matBadgePosition="after">notifications
  </mat-icon>
  <button class="menu-item ml-4" mat-flat-button (click)="logOut()">
    Log Out
  </button>
</mat-toolbar>

<mat-sidenav-container id="sidenavContainer" fullscreen>
  <mat-sidenav mode="side" #sidenav id="sidenav" [class.menu-open]="isMenuOpen" [class.menu-close]="!isMenuOpen" opened>
    <mat-list id="menus">
      <mat-card>
        <mat-card-header [ngStyle]="{'color':'#00787A'}">
          <div mat-card-avatar class="avatar"></div>

          <mat-card-title>{{user.firstName}}</mat-card-title>
          <mat-card-subtitle [ngStyle]="{'color':'#05ac72'}">{{user.role.name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/navigation/dashboard" routerLinkActive="active"
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button (click)="openDropdown()"
          [ngStyle]="{'padding-left': '10px', 'color':'#00787A'}">
          <mat-icon>work</mat-icon>
          Admin
          <span fxFlex></span>
          <mat-icon [@indicatorRotate]="open ? 'open': 'collapsed'" [ngStyle]="{'font-size':'18px'}">
            expand_more
          </mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="open">
        <button routerLink="createuser" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">group</mat-icon>
          Create User
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="open">
        <button routerLink="createdocument" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">group</mat-icon>
          Create Document
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="open">
        <button routerLink="roles" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">group</mat-icon>
          Roles
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="open">
        <button routerLink="institution" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">location_city</mat-icon>
          Institution
        </button>
      </mat-list-item>

      <mat-list-item *ngFor="let item of navItems">
        <button (click)="onItemSelected(item)"
          [ngClass]="{'active': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
          class="menu-item" mat-flat-button [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon ">{{item.iconName}}</mat-icon>
          {{item.displayName}}
          <span fxFlex *ngIf="item.children && item.children.length">
            <span fxFlex></span>
            <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'" [ngStyle]="{'font-size':'18px'}">
              expand_more
            </mat-icon>
          </span>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="expanded">
        <button routerLink="/navigation/document" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">recent_actors</mat-icon>
          Declaration of Age
        </button>

      </mat-list-item>
      <mat-list-item *ngIf="expanded">
        <button routerLink="/navigation/marriage" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">recent_actors</mat-icon>
          Declaration of Marriage
        </button>

      </mat-list-item>
      <mat-list-item *ngIf="expanded">
        <button routerLink="/navigation/change-of-name" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">recent_actors</mat-icon>
          Change of Name
        </button>

      </mat-list-item>
      <mat-list-item *ngIf="expanded">
        <button routerLink="/navigation/general" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">recent_actors</mat-icon>
          General Form of Affidavit
        </button>

      </mat-list-item>
      <mat-list-item>
        <button class="menu-item" mat-flat-button routerLink="/navigation/payments" [ngStyle]="{'color':'#00787A'}">
          <mat-icon>local_atm</mat-icon>
          Payments
        </button>
      </mat-list-item>
      <mat-list-item routerLink="print">
        <button class="menu-item" mat-flat-button [ngStyle]="{'color':'#00787A'}">
          <mat-icon>file_copy</mat-icon>
          Print
        </button>
      </mat-list-item>


      <mat-list-item>
        <button class="menu-item" mat-flat-button (click)="dropDown()" [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">report</mat-icon>
          Reports
          <span fxFlex></span>
          <mat-icon [@indicatorRotate]="drop ? 'drop': 'collapsed'" [ngStyle]="{'font-size':'18px'}">
            expand_more
          </mat-icon>
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="drop" routerLink="reports">
        <button class="menu-item" mat-flat-button [ngStyle]="{'color':'#00787A'}">
          <mat-icon>file_copy</mat-icon>
          Payment Report
        </button>
      </mat-list-item>
      <mat-list-item *ngIf="drop">
        <button routerLink="transaction-reports" routerLinkActive="active" class="menu-item" mat-flat-button
          [ngStyle]="{'color':'#00787A'}">
          <mat-icon class="routeIcon">menu_book</mat-icon>
          Transaction Report
        </button>
      </mat-list-item>

      <mat-list-item>
        <button class="menu-item" mat-flat-button [ngStyle]="{'color':'#00787A'}">
          <mat-icon>settings_application</mat-icon>
          Settings
        </button>
      </mat-list-item>



    </mat-list>

  </mat-sidenav>

  <mat-sidenav-content [ngStyle]="{ 'margin-left.px': contentMargin }">

    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
